@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-grid-template {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0;
}
.grid-cols-4-fix {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.remove-scroll {
  --removed-body-scroll-bar-size: 17px;
}
